.home-box {
  position: relative;
  /* height: 530px; */
  min-height: 100vh;
  border-radius: 8px;
}

.text-c-blue {
color: #00ccff;
}

.text-c-green {
color: #4af3bb;
}

.text-c-gold {
  color: #ffbc00;
}

.text-c-orange {
  color: #ff9900;
}

.text-c-redorange {
  color: #ff5e00;
}

.text-c-red {
  color: #ff0800;
}

.border-cb-green {
border-bottom-style: solid;
border-color: #4af3bb;
}

.border-cb-blue {
border-bottom-style: solid;
border-color: #00ccff;
}

.border-cr-blue {
border-right-style: solid;
border-color: #00ccff;
}

.border-cl-blue {
border-left-style: solid;
border-color: #00ccff;
}

.border-cb-gold {
  border-bottom-style: solid;
  border-color: #ffbc00;
}