/* .App {
  text-align: center;
} */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */

    background: #23242a;
    /* background: white; */

}


.noPage {
  color: #fff;
  text-align: center;
}

.printInput {
  /* border: red solid 3px; */
  color: #fff;
  font-size: 28px;
  text-align: center;
}


/* form container start */
.logSigncontainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

}

.logBox {
    position: relative;
    width: 475px;
    height: 530px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.logBox::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 475px;
    height: 530px;
    background: linear-gradient(0deg, transparent,
    #00ccff, #00ccff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.logBox::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 475px;
    height: 530px;
    background: linear-gradient(0deg, transparent,
    #00ccff, #00ccff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.logSignform {
    position: absolute;
    inset: 3px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
}
/* form end */


/* tabBtn start */
.logSignform .tabBtn {
  position: relative;
  /* width: 155px; */
  height: 50px;
  /* margin: 20px; */
}

.logSignform .tabBtn .tabBtnLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.01);
  border-bottom: 1px solid rgba(255,255,255,0.01);
  
  /* border-radius: 30px; */
  
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.logSignform .tabBtn:nth-child(1) .tabBtnLink {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.logSignform .tabBtn:nth-child(2) .tabBtnLink {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logSignform .tabBtn:hover .tabBtnLink {
  letter-spacing: 3px;
}

.logSignform .tabBtn .tabBtnLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.1),
  transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.logSignform .tabBtn:hover .tabBtnLink::before {
  transform: skewX(45deg) translateX(200%);
}

.logSignform .tabBtn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

/* bottom bar */
.logSignform .tabBtn:nth-child(1)::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.logSignform .tabBtn:nth-child(2):hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.logSignform .tabBtn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

/* top bar */
.logSignform .tabBtn:nth-child(1)::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.logSignform .tabBtn:nth-child(2):hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.logSignform .tabBtn::before,
.logSignform .tabBtn::after {
  background: #00ccff;
  box-shadow: 0 0 5px #00ccff,
  0 0 15px #00ccff,
  0 0 30px #00ccff,
  0 0 60px #00ccff;
}
/* tabBtn end */


/* label start */

.logInputBox {
  position: relative;
}

.logInputBox input {
  width: 100%;

  padding: 10px;

  border: 1px solid rgba(255,255,255,0.25);
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #28292d;

  font-size: 1em;

  transition: 0.5s;
}

.logInputBox span {
  position: absolute;
  left: 0;

  padding: 10px;

  pointer-events: none;
  font-size: 1em;

  color: #999797;

  text-transform: uppercase;
  transition: 0.5s;
}

.logInputBox input:valid ~ span,
.logInputBox input:focus ~ span {
  color: #00ccff;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00ccff;
  border-right: 1px solid #00ccff;
  letter-spacing: 0.2em;
}

.logInputBox input:valid,
.logInputBox input:focus {
  border: 1px solid #00ccff;
}

/* label end */


/* submitBtn start */
.submitBtn {
  position: relative;
  height: 50px;
  display: inline-block;
  background: #fff;
  border: 0;
}

.submitBtn::before,
.submitBtn::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #f00;
  transition: 0.5s;
  background: linear-gradient(45deg, #00ccff, #0e1538,
  #0e1538, #d400d4);
}

.submitBtn:hover::before {
  inset: -3px;
}

.submitBtn:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.submitBtn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  /* background: #0e1538; */
  background: #28292d;

  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;

  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #040a29;
  overflow: hidden;
}

.submitBtn span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;;
  height: 100%;
  background: rgba(255,255,255,0.075);
  transform: skew(25deg);
}
/* submitBtn end */
