/* .App {
  text-align: center;
} */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    background: #fdffff;
}


/* .formContainer {
  border: 3px red solid;
} */

/* .form {
  border: 3px red solid;
} */

/* .tabBtn {
  border: 3px red solid;
} */

/* h2 {
  border: 3px red solid;
} */

/* .inputBox {
  border: 3px red solid;
} */

/* .submitBtn {
  border: 3px red solid;
} */


/* .container {
  border: red solid 3px;
} */

/* .box {
  border: red solid 3px;
} */

/* .form {
  border: red solid 3px;
} */

.noPage {
  color: #fff;
  text-align: center;
}

.printInput {
  /* border: red solid 3px; */
  color: #fff;
  text-align: center;
}

/* .tabBox {
  border: red solid 3px;
} */

/* .tabBtn {
  border: red solid 3px;
} */

/* .inputBox {
  border: red solid 3px;
} */

/* .submitBtn {
  border: red solid 3px;
} */


/* michael start */

/* form container start */
.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

}

.box {
    position: relative;
    width: 475px;
    height: 530px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 475px;
    height: 530px;
    background: linear-gradient(0deg, transparent,
    #00ccff, #00ccff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 475px;
    height: 530px;
    background: linear-gradient(0deg, transparent,
    #00ccff, #00ccff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    inset: 3px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
}
/* form end */


/* tabBtn start */
.form .tabBtn {
  position: relative;
  /* width: 155px; */
  height: 50px;
  /* margin: 20px; */
}

.form .tabBtn .tabBtnLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.01);
  border-bottom: 1px solid rgba(255,255,255,0.01);
  
  /* border-radius: 30px; */
  
  color: #fff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}

.form .tabBtn:nth-child(1) .tabBtnLink {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form .tabBtn:nth-child(2) .tabBtnLink {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form .tabBtn:hover .tabBtnLink {
  letter-spacing: 3px;
}

.form .tabBtn .tabBtnLink::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.1),
  transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.form .tabBtn:hover .tabBtnLink::before {
  transform: skewX(45deg) translateX(200%);
}

.form .tabBtn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

/* bottom bar */
.form .tabBtn:nth-child(1)::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.form .tabBtn:nth-child(2):hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.form .tabBtn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

/* top bar */
.form .tabBtn:nth-child(1)::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.form .tabBtn:nth-child(2):hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;

  transition-delay: 0.3s;
}

.form .tabBtn::before,
.form .tabBtn::after {
  background: #00ccff;
  box-shadow: 0 0 5px #00ccff,
  0 0 15px #00ccff,
  0 0 30px #00ccff,
  0 0 60px #00ccff;
}

/* .form .tabBtn:nth-child(2)::before,
.form .tabBtn:nth-child(2)::after {
  background: #d400d4;
  box-shadow: 0 0 5px #d400d4,
  0 0 15px #d400d4,
  0 0 30px #d400d4,
  0 0 60px #d400d4;
} */
/* tabBtn end */


/* label start */

.inputBox {
  position: relative;
}

.inputBox input {
  width: 100%;

  padding: 10px;

  border: 1px solid rgba(255,255,255,0.25);
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #28292d;

  font-size: 1em;

  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;

  padding: 10px;

  pointer-events: none;
  font-size: 1em;

  color: #999797;

  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #00ccff;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00ccff;
  border-right: 1px solid #00ccff;
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #00ccff;
}

/* label end */


/* submitBtn start */
.submitBtn {
  position: relative;
  height: 50px;
  display: inline-block;
  background: #fff;
  border: 0;
}

.submitBtn::before,
.submitBtn::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #f00;
  transition: 0.5s;
  background: linear-gradient(45deg, #00ccff, #0e1538,
  #0e1538, #d400d4);
}

.submitBtn:hover::before {
  inset: -3px;
}

.submitBtn:hover::after {
  inset: -3px;
  filter: blur(10px);
}

.submitBtn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;

  /* background: #0e1538; */
  background: #28292d;

  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;

  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 2px solid #040a29;
  overflow: hidden;
}

.submitBtn span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;;
  height: 100%;
  background: rgba(255,255,255,0.075);
  transform: skew(25deg);
}
/* submitBtn end */

/* michael end */



/* nino start */


/* nino end */